.tab{
    overflow:hidden;
    border: 1px solid #ccc;
    background-color: #8bf3a8;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover{
    background-color: #acf7bd;
}

.tab button.active{
    background-color: #246722;
}

.tabconten{
    display: none;
    padding: 6px 12px;
    border: 1px solid #d600cf;
    border-top: none;
}
